@*You need to add the "@page" declaration for the program to know that this is a razor page*@
@*The second thing you need to do to get the program to recognize this page is to add the "services.AddRazorPages();" configure services in the "Startup.cs" class, under the ConfigureServices method*@
@*The third thing you need to do is to map to it in the "Configure" method by simply typing "cfg.MapRazorPages();" under the "app.UseEndpoints" middleware.*@
@page
<h2>Sorry........</h2>
<p>We've had a problem. Please retry later</p>
